:root {
    --main-background-color: #2d4361;
    --main-text-color: #E6E6E6;
    --number-button-color: #4e8c8c;
    --operation-clear-color: #FF8552;
}

body {
    font-family: 'Noto Sans HK', sans-serif;
    background-color: var(--main-background-color);
    padding: 20px;
    padding-top: 80px;
    padding-bottom: 80px;

}

.title {
    width: 50%;
    padding: 10px;
    font-size: 3rem;
    border: 3px solid var(--main-text-color);
    color: var(--main-text-color);
    text-align: center;
    margin: auto;

    letter-spacing: 3px;
    text-transform: uppercase;
}

.kbi-container {
    text-align: center;
    color: var(--main-text-color);
}


li {
    display: flex;
    justify-content: center;
    text-align: left;
}


li > div {
    text-align: left;
    width: 200px;
    font-size: 1.2rem;
}

.display {
    background-color: #2d5d61;
    border-radius: 5px;
    grid-column: 1 / -1;
    height: 100px;
    padding: 0px 20px 0px 20px;
    text-align: right;
}

span {
    height: 10px;
    width: 10px;
    background-color: var(--main-text-color);
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%
}

.display > p{
    font-size: 4rem;
    margin-block-start: 0.0em;
    color: var(--main-text-color);
}
.calc-layout {
    padding-top: 50px;
    display: grid;
    grid-template-rows: 1fr repeat(4, 125px);
    grid-template-columns: repeat(5, 125px);
    width: 100%;
    justify-content: center;
}

.button, .operation-btn, .operator{
    border: none;
    height: 100%;
    font-size: 2rem;
    width: 100%;
    background-color: var(--number-button-color);
    color: var(--main-text-color);
}

.operation-btn, .clear, .equals {
    border: none;
    background-color: #612d43;
    font-size: 2rem;
}

.button:hover{
    opacity: 0.9;
}

.operation-btn:hover, .clear:hover, .equals:hover {
    background-color: #955D73;
}


.blank-space:hover, .operator:hover{
    opacity: 1;
}
